<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team8.cs673.njitstudentguide" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Dashboard_Activity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.CampusMap"
            android:label="@string/title_activity_campus_map"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.Contacts"
            android:label="Contacts"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.CalendarActivity"
            android:label="Contacts"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.Classes"
            android:label="Contacts"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.Addcourse"
            android:label="Contacts"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="com.team8.cs673.njitstudentguide.WhatsThat.ScanActivity"
            android:label="@string/title_activity_scan"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape">
        </activity>

        <receiver android:name="com.team8.cs673.njitstudentguide.EventNotification.AlertReceiver">

        </receiver>
    </application>

</manifest>
